.common-layout {
  padding: 0;
  height: 100vh;
  background: $bgImg;

  .el-aside {
    margin-top: 20px;
    height: calc(100vh - 100px);
    background: $aside_bgColor;
    @include set-border(
      map-get($main_border, 'width'),
      map-get($main_border, 'style'),
      map-get($main_border, 'color')
    );

    .aside-tools {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 46px;
      //菜单项图标
      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
      //菜单项文本
      span {
        font-size: 16px;
        color: #ffffff;
      }

      &:hover {
        background: $asideTools_hover_bgImg;
      }

      &.active {
        background: $asideTools_active_bgImg;
      }
    }
  }

  .el-main {
    margin-left: 20px;
    margin-top: 20px;
    height: calc(100vh - 100px);
    background: $main_bgColor;
    @include set-border(
      map-get($main_border, 'width'),
      map-get($main_border, 'style'),
      map-get($main_border, 'color')
    );
    // 搜索按钮
    .search-button {
      margin-left: 30px;
      background: $search_bgImg;
      background-size: cover;
      background-position: center;
      width: 86px;
      height: 42px;
      border: none;
      line-height: 40px;
      color: #ffffff;
      cursor: pointer;
      border-radius: 5px;
      text-align: center;
    }
    // 搜索框
    .el-input {
      height: 40px !important;
    }
  }
}